@font-face {
  font-family: "corpoA";
  src: url("../assets/fonts/Fonts/CorpoA.woff2") format("woff2");
}
@font-face {
  font-family: "corpoS";
  src: url("../assets/fonts/Fonts/CorpoS.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "corpoS", sans-serif;
}

html {
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  margin: 0 !important;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "corpoA", sans-serif;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  flex-direction: row;
  width: 100%;
  gap: 36px;
  z-index: 999;
}
.header .logoSection {
  display: flex;
  align-items: center;
}
.header .logoSection img {
  width: 274px;
  height: auto;
}
.header .navMenu nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .navMenu nav ul li {
  border-right: 1px solid #939393;
}
.header .navMenu nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "corpoA", sans-serif;
  transition: color 0.3s ease;
  padding: 6px 17px;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.header .navMenu nav ul li a img {
  height: 16px;
  width: 16px;
}
.header .navMenu nav ul li:last-child {
  border-right: 1px solid transparent !important;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    padding: 1rem 5%;
  }
}
.advancedSearch {
  justify-content: center;
  padding: 68px 5% 68px 70px;
  background: #DEDEDE;
}
.advancedSearch .toggleButton {
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #20242C;
  padding-bottom: 10px;
  background-color: transparent;
  cursor: pointer;
  font-family: "corpoS";
  font-size: 16px;
  font-weight: 700;
  line-height: 20.48px;
  text-align: left;
}
.advancedSearch .searchFilters {
  display: none;
}
.advancedSearch .searchFilters .recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 20px 0;
  font-family: "corpoS";
  font-size: 20px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
}
.advancedSearch .searchFilters .recent input[type=checkbox] {
  display: none;
}
.advancedSearch .searchFilters .recent .toggle-switch {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: #BCBCBC;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.advancedSearch .searchFilters .recent .toggle-switch .switch {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #919799;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}
.advancedSearch .searchFilters .recent input[type=checkbox]:checked + .toggle-switch {
  background-color: #2196F3;
}
.advancedSearch .searchFilters .recent input[type=checkbox]:checked + .toggle-switch .switch {
  transform: translateX(16px);
  background-color: white;
}
.advancedSearch .searchFilters .filtersSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  border-top: 1px solid #20242C;
  border-bottom: 1px solid #20242C;
}
.advancedSearch .searchFilters .filtersSection .filterSection {
  padding: 10px 0;
  font-family: "corpoS";
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
  text-align: left;
}
.advancedSearch .searchFilters .filtersSection .filterSection .filterToggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
  text-align: left;
  font-family: "corpoS";
  color: #33363f;
}
.advancedSearch .searchFilters .filtersSection .filterSection .filterToggle img {
  transition: transform 0.3s ease;
}
.advancedSearch .searchFilters .filtersSection .filterSection .filterToggle.expanded img {
  transform: rotate(180deg);
}
.advancedSearch .searchFilters .filtersSection .filterSection .filterMenu {
  display: none;
  margin: 10px 0;
}
.advancedSearch .searchFilters .filtersSection .filterSection .filterMenu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
}
.advancedSearch .searchFilters .filtersSection .filterSection .filterMenu .rangeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.advancedSearch .searchFilters .filtersSection .filterSection .filterMenu .rangeContainer input {
  outline: none;
  width: 45%;
  height: 44px;
  background-color: transparent;
  border: 1px solid #939393;
  padding: 14px 20px 14px 33px;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  color: #666;
}
.advancedSearch .searchFilters .filtersSection .filterSection .filterMenu .rangeContainer input:focus {
  border: 2px solid #0CA2E3;
}
.advancedSearch .searchFilters .filtersSection .filterSection.expanded .filterMenu {
  display: block;
}
.advancedSearch .searchFilters .filtersSection .applyFilterButton {
  width: 100%;
  height: 40px;
  padding: 11px 20px 11px 20px;
  border-radius: 80px;
  border: 1px solid #33363f;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #33363f;
}
.advancedSearch .searchFilters .activeFilters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0 30px 0;
}
.advancedSearch .searchFilters .activeFilters .title {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.04px;
  text-align: left;
  color: black;
}
.advancedSearch .searchFilters .activeFilters .filtersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
.advancedSearch .searchFilters .activeFilters .filtersContainer .removeFilter {
  display: flex;
  background: transparent;
  cursor: pointer;
  padding: 11px 20px;
  border: 1px solid #33363f;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  color: #33363f;
  border-radius: 80px;
}
.advancedSearch .searchFilters .activeFilters .clearFilters {
  background: transparent;
  display: flex;
  border: 1px solid #33363f;
  border-radius: 80px;
  padding: 11px 20px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.advancedSearch.expanded .searchFilters {
  display: block;
}

.swiper {
  background-color: black;
  height: 100%;
}
.swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  overflow: hidden;
}
.swiper .swiper-wrapper .swiper-slide img {
  object-fit: cover;
  max-width: 100vw;
}
.swiper .swiper-scrollbar {
  background-color: white;
  width: 200px !important;
  left: var(--swiper-scrollbar-sides-offset, 80%) !important;
  bottom: var(--swiper-scrollbar-bottom, 5%) !important;
}
.swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #0CA2E3;
  z-index: 2;
}

@media (max-width: 900px) {
  .swiper .swiper-slide img {
    max-width: 100%;
    width: auto;
    height: 80vh;
    object-position: 30%;
  }
  #swiper-scrollbar {
    background-color: white;
    width: 200px !important;
    left: var(--swiper-scrollbar-sides-offset, 40%) !important;
    bottom: var(--swiper-scrollbar-bottom, 5%) !important;
  }
  #swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #0CA2E3;
    z-index: 2;
  }
}
.mainMessage {
  display: flex;
  padding: 0 5% 2rem 5%;
  background-color: black;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}
.mainMessage .title {
  font-size: 90px;
  font-weight: 400;
  line-height: 76px;
  text-align: left;
  font-family: "corpoA";
  color: white;
  max-width: 40%;
}
.mainMessage .message {
  font-family: "corpoA";
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  color: white;
  text-align: right;
  max-width: 40%;
}
.mainMessage .message span {
  color: #0CA2E3;
  font-family: "corpoA";
}

@media (max-width: 900px) {
  .mainMessage {
    padding: 2rem 5%;
    flex-direction: column;
    align-items: start;
    gap: 26px;
  }
  .mainMessage .title {
    max-width: 80%;
  }
  .mainMessage .message {
    max-width: 100%;
    text-align: left;
  }
}
.homeSection {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 36px;
}
.homeSection .advancedSearch .searchFilters {
  display: block;
}
.homeSection .rightSection {
  display: flex;
  flex-direction: column;
  padding: 68px 5% 68px 0;
  width: 100%;
  gap: 36px;
}
.homeSection .rightSection h2 {
  font-size: 38px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  font-family: "corpoA";
}
.homeSection .rightSection h2 span {
  color: #0CA2E3;
  font-family: "corpoA";
}
.homeSection .rightSection .cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 41px;
}
.homeSection .rightSection .cardsContainer .cardInfo {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.homeSection .rightSection .cardsContainer .cardInfo .imgContainer {
  max-height: 209px;
  max-width: 300px;
  overflow: hidden;
}
.homeSection .rightSection .cardsContainer .cardInfo .imgContainer .cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s;
}
.homeSection .rightSection .cardsContainer .cardInfo .imgContainer .cardImage:hover {
  transform: scale(1.4);
}
.homeSection .rightSection .cardsContainer .cardInfo .name {
  padding: 22px 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  color: black;
}
.homeSection .rightSection .cardsContainer .cardInfo .value {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: #DEDEDE;
  gap: 10px;
}
.homeSection .rightSection .cardsContainer .cardInfo .value .price {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: center;
}
.homeSection .rightSection .cardsContainer .cardInfo .value .price .badge {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  color: #161D2B;
}
.homeSection .rightSection .cardsContainer .cardInfo .value .price .badge .country {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  color: #161D2B;
}
.homeSection .rightSection .cardsContainer .cardInfo .value .price .amount {
  font-size: 36px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  color: #161D2B;
}
.homeSection .rightSection .cardsContainer .cardInfo .features {
  padding: 11px 20px 27px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 17px;
  align-items: center;
}
.homeSection .rightSection .cardsContainer .cardInfo .features .feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.homeSection .rightSection .cardsContainer .cardInfo .features .feature .description {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: black;
}
.homeSection .rightSection .cardsContainer .cardInfo a {
  width: 85%;
  height: 48px;
  padding: 18px 24px;
  color: white;
  background-color: #161D2B;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: center;
}
.homeSection .rightSection button {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  border: 1px solid #676767;
  color: #676767;
  max-width: 229px;
  height: 50px;
  border-radius: 100px;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
}

.footer {
  padding: 68px 5% 26px 5%;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.footer .messageSection {
  font-family: "corpoA";
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: white;
}
.footer .messageSection span {
  font-family: "corpoA";
  color: #0CA2E3;
}
.footer .socialSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 25px;
  padding: 26px 0;
}
.footer .headquarters {
  display: flex;
  flex-direction: row;
  padding: 26px 0;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.footer .headquarters .mercedesUruguay, .footer .headquarters .whereWeAre {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footer .headquarters .mercedesUruguay .title, .footer .headquarters .whereWeAre .title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.footer .headquarters .mercedesUruguay .elements, .footer .headquarters .whereWeAre .elements {
  display: flex;
  flex-direction: row;
  gap: 56px;
}
.footer .headquarters .mercedesUruguay .elements .elementContact, .footer .headquarters .whereWeAre .elements .elementContact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.footer .headquarters .mercedesUruguay .elements .elementContact .titleNumber, .footer .headquarters .whereWeAre .elements .elementContact .titleNumber {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}
.footer .headquarters .mercedesUruguay .elements .elementContact .desc, .footer .headquarters .whereWeAre .elements .elementContact .desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.footer .informationLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #939393;
  font-size: 12px;
  font-weight: 300;
  line-height: 10px;
  text-align: left;
  color: white;
}
.footer .informationLinks .policies a {
  font-size: 12px;
  font-weight: 300;
  line-height: 10px;
  text-align: left;
  color: white;
  text-decoration: none;
}
.footer .informationLinks .rights {
  font-size: 12px;
  font-weight: 300;
  line-height: 10px;
  text-align: right;
  color: white;
}
.footer .credits {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  color: white;
  align-self: end;
}
.footer .credits a {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
}

@media (max-width: 1250px) {
  .footer .socialSection {
    justify-content: center;
  }
  .footer .headquarters {
    flex-direction: column;
    align-items: start;
    gap: 35px;
  }
}
@media (max-width: 900px) {
  .footer .socialSection {
    justify-content: left;
  }
  .footer .headquarters .mercedesUruguay .elements {
    flex-direction: column;
    gap: 26px;
  }
  .footer .informationLinks {
    flex-direction: column;
    justify-content: left;
  }
  .footer .informationLinks .rights {
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
