$color-text : #FFF;
$color-secondary : #F9EAFF;
$color-info : #101010;
$color-blue : #001EDB;
$color-rose : #F92DB7;
$color-footer : #161616;
$color-grayText : #4F4F4F;
$color-grayBg : #d9d9d9;
$primary-blue: #0CA2E3;
$light-gray: #DEDEDE;
$dark-gray: #939393;
$gray: #676767;
$dark-blue: #161D2B;
$light-black: #222222;
$dark-black: #20242C;
$letter-color: #33363f;
$bg-switch: #BCBCBC;
$radio-switch: #919799;
$input-range: #666
